
a {
    text-decoration: none;
    color: black;
}
.recipesPage {
    margin: 0 auto;
    .ExploreMenu {
        text-align: center;
        div {
            margin: 40px auto;
        }
        h1 {
            font-size: 3.5em;
            color: #595959;
        }
        p {
            width: 40%;
            margin: 10px auto;
        }
    }
}

.recipes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        

    .recipe{
        margin: 10px;
        background: #FFFFFF;
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 400px;
        height: 380px;
        
        .recipePhoto {
                img {
                    width: 100%;
                    cursor: pointer;
                    position: relative;
                }
                
        }
        .title {
            background: #FFC700;
            padding: 10px 10px;
            color: white;
            position: absolute;
            margin-left: 10px;
            margin-top: -70px;
        }
        .description {
            width: 80%;
            margin: 20px;
        }
        .time {
            margin: 20px;

            span {
                color: #FFC700;
            }
            img {
                margin-right: 10px;
            }
        }
        
    }
    
}
.seemore {
    padding: 10px 20px;
    background: #FFC700;
    width: 240px;
    margin: 40px auto;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    border:none;
    font-weight: bold;
    cursor: pointer;
}