.footer {
    display: flex;
    justify-content: space-around;
    background-image: url('../../../src/images/bgImages/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
   

    ul {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-top: 50px;
        li {
            list-style-type: none;
            color: white;
            margin: 6px;

            &:first-child {
                color: #FFC700;
                font-size: 1.2em;
            }
        }
    }
}
