.nav {
    display: flex;
    background-color: transparent;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    background-image: url('../../../src/images/bgImages/navBg.png');

    li {
        margin: 15px;
        cursor: pointer;
        font-weight: 600;
    }
    a {
        text-decoration: none;
        color: white;
        position: relative;

        &.active::before {
            content: "";
            padding: 1px 18px;
            top: 21px;
            position: absolute;
            background: #FFC700;
            cursor: pointer;
        }
        
        &:hover {
            color: #ccc;
        }
        &.disabled {
            pointer-events: none;
        }
    }
    
    .menu {
            display: flex;
            justify-content: flex-end;
            margin-right: 40px;
        li{

        }
    }
    .cart {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
        li {

        }
    }
}
